judotexeira:
  security:
    secret: "H12209UMÇLW.1Ç1_66M@MR30-21M.@!@@"

spring:
  application:
    name: judotexeira

  datasource:
    url: jdbc:postgresql://localhost:5432/texeira_judo
    username: postgres
    password: 123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  server:
    port: 8080


  flyway:
    enabled: false
